<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://beust.com/testng/testng-1.0.dtd" >

<suite name="api-tests" verbose="1">
	<test name="testng">
<!--        <packages>-->
<!--            <package name="sun.util"/>-->
<!--        </packages>-->
<!--        <classes>-->
<!--            <class name="com.google.common.base.OptionalTest"/>-->
<!--        </classes>-->
	</test>
</suite>